body{
    background-color: black;
}

#button1{
    display: flex;
    justify-content: center;
}

#button2{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}

.container3{
    display: flex;
    justify-content: center;
}

footer{
    padding-top: 40px;           
    display: flex;
    justify-content: center;
}

#joke{
    color:white;
}

h1{
    background-color: blue;
}