header {
    background-color: blue;
    color: white;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%
}

input {
    border-radius: 5px;
}

#search-btn {
    border-radius: 5px;
    margin-left: 1px;
}